In [1]:
csv_file_path = "./olympic_medals.csv"

In [2]:
with open(csv_file_path, encoding="utf8") as csvfile:
    print(csvfile.readline())

Gender,Event,Location,Year,Medal,Name,Nationality,Result

In [3]:
with open(csv_file_path, encoding="utf8") as csvfile:
    csvfile.readline()
    print(csvfile.readline())

M,10000M Men,Rio,2016,G,Mohamed FARAH,GBR,25:05.17

You can put the following into terminal/gitbash and get the same result:
$ head -n 2 ./olympic_medals.csv

In [4]:
import csv

with open(csv_file_path, encoding="utf8") as csvfile:
    reader = csv.DictReader(csvfile)
    print(next(reader))
    
#DictReader creates an ordered dictionary that looks like a list of tuple. Real first row values paired with the collumn headers. 
#makes the column header the dictionary key.

{'Gender': 'M', 'Event': '10000M Men', 'Location': 'Rio', 'Year': '2016', 'Medal': 'G', 'Name': 'Mohamed FARAH', 'Nationality': 'GBR', 'Result': '25:05.17'}

In [5]:
medals = []

with open(csv_file_path, encoding="utf8") as csvfile:
    reader = csv.DictReader(csvfile)
    for row in reader:
        medals.append(row)

#creates an empty list called medals
#opens the csv_fle_path as csvfile
#passes csvile into the DictReader method of csv library and assigns to var. reader
#creates a for loop that iterates over the rows in reader and then appends each row to the medals list

In [29]:
medals[0:10]

[{'Gender': 'M',
  'Event': '10000M Men',
  'Location': 'Rio',
  'Year': '2016',
  'Medal': 'G',
  'Name': 'Mohamed FARAH',
  'Nationality': 'GBR',
  'Result': '25:05.17',
  'int_year': 2016,
  'result_minute': 25,
  'result_second': 5.17},
 {'Gender': 'M',
  'Event': '10000M Men',
  'Location': 'Rio',
  'Year': '2016',
  'Medal': 'S',
  'Name': 'Paul Kipngetich TANUI',
  'Nationality': 'KEN',
  'Result': '27:05.64',
  'int_year': 2016,
  'result_minute': 27,
  'result_second': 5.64},
 {'Gender': 'M',
  'Event': '10000M Men',
  'Location': 'Rio',
  'Year': '2016',
  'Medal': 'B',
  'Name': 'Tamirat TOLA',
  'Nationality': 'ETH',
  'Result': '27:06.26',
  'int_year': 2016,
  'result_minute': 27,
  'result_second': 6.26},
 {'Gender': 'M',
  'Event': '10000M Men',
  'Location': 'Beijing',
  'Year': '2008',
  'Medal': 'G',
  'Name': 'Kenenisa BEKELE',
  'Nationality': 'ETH',
  'Result': '27:01.17',
  'int_year': 2008,
  'result_minute': 27,
  'result_second': 1.17},
 {'Gender': 'M',
  'Event': '10000M Men',
  'Location': 'Beijing',
  'Year': '2008',
  'Medal': 'S',
  'Name': 'Sileshi SIHINE',
  'Nationality': 'ETH',
  'Result': '27:02.77',
  'int_year': 2008,
  'result_minute': 27,
  'result_second': 2.77},
 {'Gender': 'M',
  'Event': '10000M Men',
  'Location': 'Beijing',
  'Year': '2008',
  'Medal': 'B',
  'Name': 'Micah KOGO',
  'Nationality': 'KEN',
  'Result': '27:04.11',
  'int_year': 2008,
  'result_minute': 27,
  'result_second': 4.11},
 {'Gender': 'M',
  'Event': '10000M Men',
  'Location': 'Sydney',
  'Year': '2000',
  'Medal': 'G',
  'Name': 'Haile GEBRSELASSIE',
  'Nationality': 'ETH',
  'Result': '27:18.20',
  'int_year': 2000,
  'result_minute': 27,
  'result_second': 18.2},
 {'Gender': 'M',
  'Event': '10000M Men',
  'Location': 'Sydney',
  'Year': '2000',
  'Medal': 'S',
  'Name': 'Paul TERGAT',
  'Nationality': 'KEN',
  'Result': '27:18.29',
  'int_year': 2000,
  'result_minute': 27,
  'result_second': 18.29},
 {'Gender': 'M',
  'Event': '10000M Men',
  'Location': 'Sydney',
  'Year': '2000',
  'Medal': 'B',
  'Name': 'Assefa MEZGEBU',
  'Nationality': 'ETH',
  'Result': '27:19.75',
  'int_year': 2000,
  'result_minute': 27,
  'result_second': 19.75},
 {'Gender': 'M',
  'Event': '10000M Men',
  'Location': 'Barcelona',
  'Year': '1992',
  'Medal': 'G',
  'Name': 'Khalid SKAH',
  'Nationality': 'MAR',
  'Result': '27:46.70',
  'int_year': 1992,
  'result_minute': 27,
  'result_second': 46.7}]

In [7]:
medals[0]

{'Gender': 'M',
 'Event': '10000M Men',
 'Location': 'Rio',
 'Year': '2016',
 'Medal': 'G',
 'Name': 'Mohamed FARAH',
 'Nationality': 'GBR',
 'Result': '25:05.17'}

In [8]:
import csv #imports the csv library

medals = [] #creates an empty list called medals

with open(csv_file_path, encoding="utf8") as csvfile: #uses open to open csv_file_path as csvfile
    reader = csv.DictReader(csvfile) #passes the csvfile into the DictReader method of csv library and assigns to reader var.
    for row in reader: #iterates over reader using the loop var. row
        medals.append(row) #appends each row into the medals list.

for year in medals: #initializing a for loop over medals using year as the for var. 
    string_year = year["Year"] #now it's looking at the "Year" key and assigning the value to the var string_year
    year["int_year"] = int(string_year) #passes string_year into the int function converting it to an int and assign to new key "int_year"
    #does the above for every year in the ordered dictionary of medals list

In [9]:
medals[0]
#note how int_year is added to the list.

{'Gender': 'M',
 'Event': '10000M Men',
 'Location': 'Rio',
 'Year': '2016',
 'Medal': 'G',
 'Name': 'Mohamed FARAH',
 'Nationality': 'GBR',
 'Result': '25:05.17',
 'int_year': 2016}

process the medals data to add numeric values for the "Result" value for minutes and seconds

In [28]:
import csv #imports the csv library
from datetime import timedelta 

medals = [] #creates an empty list called medals

with open(csv_file_path, encoding="utf8") as csvfile: #uses open to open csv_file_path as csvfile
    reader = csv.DictReader(csvfile) #passes the csvfile into the DictReader method of csv library and assigns to reader var.
    for row in reader: #iterates over reader using the loop var. row
        medals.append(row) #appends each row into the medals list.

for year in medals: #initializing a for loop over medals using year as the for var. 
    string_year = year["Year"] #now it's looking at the "Year" key and assigning the value to the var string_year
    year["int_year"] = int(string_year) #passes string_year into the int function converting it to an int and assign to new key "int_year"
    #does the above for every year in the ordered dictionary of medals list
    
for result in medals:
    minute = int(result["Result"][:2])
    second = float(result["Result"][-5:])
    
    result["result_minute"] = minute
    result["result_second"] = second

ValueError: could not convert string to float: ':27.4'

In [30]:
medals[0:20]

[{'Gender': 'M',
  'Event': '10000M Men',
  'Location': 'Rio',
  'Year': '2016',
  'Medal': 'G',
  'Name': 'Mohamed FARAH',
  'Nationality': 'GBR',
  'Result': '25:05.17',
  'int_year': 2016,
  'result_minute': 25,
  'result_second': 5.17},
 {'Gender': 'M',
  'Event': '10000M Men',
  'Location': 'Rio',
  'Year': '2016',
  'Medal': 'S',
  'Name': 'Paul Kipngetich TANUI',
  'Nationality': 'KEN',
  'Result': '27:05.64',
  'int_year': 2016,
  'result_minute': 27,
  'result_second': 5.64},
 {'Gender': 'M',
  'Event': '10000M Men',
  'Location': 'Rio',
  'Year': '2016',
  'Medal': 'B',
  'Name': 'Tamirat TOLA',
  'Nationality': 'ETH',
  'Result': '27:06.26',
  'int_year': 2016,
  'result_minute': 27,
  'result_second': 6.26},
 {'Gender': 'M',
  'Event': '10000M Men',
  'Location': 'Beijing',
  'Year': '2008',
  'Medal': 'G',
  'Name': 'Kenenisa BEKELE',
  'Nationality': 'ETH',
  'Result': '27:01.17',
  'int_year': 2008,
  'result_minute': 27,
  'result_second': 1.17},
 {'Gender': 'M',
  'Event': '10000M Men',
  'Location': 'Beijing',
  'Year': '2008',
  'Medal': 'S',
  'Name': 'Sileshi SIHINE',
  'Nationality': 'ETH',
  'Result': '27:02.77',
  'int_year': 2008,
  'result_minute': 27,
  'result_second': 2.77},
 {'Gender': 'M',
  'Event': '10000M Men',
  'Location': 'Beijing',
  'Year': '2008',
  'Medal': 'B',
  'Name': 'Micah KOGO',
  'Nationality': 'KEN',
  'Result': '27:04.11',
  'int_year': 2008,
  'result_minute': 27,
  'result_second': 4.11},
 {'Gender': 'M',
  'Event': '10000M Men',
  'Location': 'Sydney',
  'Year': '2000',
  'Medal': 'G',
  'Name': 'Haile GEBRSELASSIE',
  'Nationality': 'ETH',
  'Result': '27:18.20',
  'int_year': 2000,
  'result_minute': 27,
  'result_second': 18.2},
 {'Gender': 'M',
  'Event': '10000M Men',
  'Location': 'Sydney',
  'Year': '2000',
  'Medal': 'S',
  'Name': 'Paul TERGAT',
  'Nationality': 'KEN',
  'Result': '27:18.29',
  'int_year': 2000,
  'result_minute': 27,
  'result_second': 18.29},
 {'Gender': 'M',
  'Event': '10000M Men',
  'Location': 'Sydney',
  'Year': '2000',
  'Medal': 'B',
  'Name': 'Assefa MEZGEBU',
  'Nationality': 'ETH',
  'Result': '27:19.75',
  'int_year': 2000,
  'result_minute': 27,
  'result_second': 19.75},
 {'Gender': 'M',
  'Event': '10000M Men',
  'Location': 'Barcelona',
  'Year': '1992',
  'Medal': 'G',
  'Name': 'Khalid SKAH',
  'Nationality': 'MAR',
  'Result': '27:46.70',
  'int_year': 1992,
  'result_minute': 27,
  'result_second': 46.7},
 {'Gender': 'M',
  'Event': '10000M Men',
  'Location': 'Barcelona',
  'Year': '1992',
  'Medal': 'S',
  'Name': 'Richard CHELIMO',
  'Nationality': 'KEN',
  'Result': '27:47.72',
  'int_year': 1992,
  'result_minute': 27,
  'result_second': 47.72},
 {'Gender': 'M',
  'Event': '10000M Men',
  'Location': 'Barcelona',
  'Year': '1992',
  'Medal': 'B',
  'Name': 'Addis ABEBE',
  'Nationality': 'ETH',
  'Result': '28:00.07',
  'int_year': 1992,
  'result_minute': 28,
  'result_second': 0.07},
 {'Gender': 'M',
  'Event': '10000M Men',
  'Location': 'Los Angeles',
  'Year': '1984',
  'Medal': 'G',
  'Name': 'Alberto COVA',
  'Nationality': 'ITA',
  'Result': '27:47.54',
  'int_year': 1984,
  'result_minute': 27,
  'result_second': 47.54},
 {'Gender': 'M',
  'Event': '10000M Men',
  'Location': 'Los Angeles',
  'Year': '1984',
  'Medal': 'S',
  'Name': 'Michael MCLEOD',
  'Nationality': 'GBR',
  'Result': '28:06.22',
  'int_year': 1984,
  'result_minute': 28,
  'result_second': 6.22},
 {'Gender': 'M',
  'Event': '10000M Men',
  'Location': 'Los Angeles',
  'Year': '1984',
  'Medal': 'B',
  'Name': 'Michael MUSYOKI',
  'Nationality': 'KEN',
  'Result': '28:06.46',
  'int_year': 1984,
  'result_minute': 28,
  'result_second': 6.46},
 {'Gender': 'M',
  'Event': '10000M Men',
  'Location': 'Montreal',
  'Year': '1976',
  'Medal': 'G',
  'Name': 'Lasse VIREN',
  'Nationality': 'FIN',
  'Result': '27:40.38',
  'int_year': 1976,
  'result_minute': 27,
  'result_second': 40.38},
 {'Gender': 'M',
  'Event': '10000M Men',
  'Location': 'Montreal',
  'Year': '1976',
  'Medal': 'S',
  'Name': 'Carlos LOPES',
  'Nationality': 'POR',
  'Result': '27:45.17',
  'int_year': 1976,
  'result_minute': 27,
  'result_second': 45.17},
 {'Gender': 'M',
  'Event': '10000M Men',
  'Location': 'Montreal',
  'Year': '1976',
  'Medal': 'B',
  'Name': 'Brendan FOSTER',
  'Nationality': 'GBR',
  'Result': '27:54.92',
  'int_year': 1976,
  'result_minute': 27,
  'result_second': 54.92},
 {'Gender': 'M',
  'Event': '10000M Men',
  'Location': 'Mexico',
  'Year': '1968',
  'Medal': 'G',
  'Name': 'Naftali TEMU',
  'Nationality': 'KEN',
  'Result': '29:27.4',
  'int_year': 1968},
 {'Gender': 'M',
  'Event': '10000M Men',
  'Location': 'Mexico',
  'Year': '1968',
  'Medal': 'S',
  'Name': 'Mamo WOLDE',
  'Nationality': 'ETH',
  'Result': '29:28.0',
  'int_year': 1968}]